H1.second{
    text-align: center;
    color: red;
    border-left: 6px solid red;
    border-right: 6px solid red;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#aligng{
    text-align: center;
    margin-top: 6px;
}
#alignn{
    text-align: center;   
    margin-top: 6px;
}
section.bgcolor{
    background-color: red;
    border: 6px solid red;
    margin-top: 2cm;
}
h3.hal{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;

}
img.margin{
    margin-top: 1cm;
    margin-left: 3cm;
    border: 0px;
}
img.m{
    margin-top: 1cm;
}
p.RAM{
    margin-left: 2cm;
    margin-top: 0cm;
    color: red;
}
div.center{
    text-align: center;
    margin-bottom: 1cm;
}
#aligngn{
    text-align: center;
    margin-top: 6px;
}
#align{
    margin-top: 6px;
    text-align: center;
}

p.first{
    text-align: center;
    /* outline: red solid 1px; */
    /* background-color: gray;
    border: 15px solid green;
    padding: 50px;
    margin: 100px; */
}
p.second{
    text-align: center;
    
}
img.first{
    text-align: center;
}
div.R{
    text-align: center;
}
div.E{
    text-align: right;
}
h1.New{
    color: whitesmoke;
}
h3.E{
    color: red;
    background-color: yellow;
}
H1.J{
    color: whitesmoke;
}
p.keshav{
text-align: center;
color: royalblue;
size: 6px;
}
*{
    padding: 0cm;
}
/* table{
    border: 5px solid red;
    background-color: red;
    padding: 10px;
    word-spacing: 1cm;
} */
